@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
    background-size: cover;
}
a{
    background-color: rgb(155, 2, 2);
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bolder;
    height: 30px;
    padding-top: 10px;
}
a:hover{
    color: ghostwhite;
    background-color: rgb(255, 0, 0);
    transition: 1s;
}